.borde{
    border: 1px solid black;
}

.verde{
    background-color: rgb(55, 255, 55);
    min-height: 50px;
}

.rosa{
    background-color: rgb(255, 55, 212);
    min-height: 50px;
}

.rojo{
    background-color: rgb(254, 0, 0);
    min-height: 50px;
}

.naranja{
    background-color: rgb(255, 128, 0);
    min-height: 50px;
}

.azul{
    background-color: lightblue;
    min-height: 50px;
}
.azul2{
    background-color: aqua;
    min-height: 50px;
}

.gris{
    background-color: rgb(208, 208, 208);
    min-height: 50px;
}

.amarillo{
    background-color: rgb(255, 255, 0);
    min-height: 50px;
}

h1{
    text-align: center;
    font-style: italic;
}

p{
    text-align: center;
}

.header{
    background-color: rgb(255, 143, 109);
    min-height: 50px;
}

.uno{
    background-color: rgb(254, 0, 0);
    min-height: 50px;
}

.dos{
    background-color: rgb(0, 254, 237);
    min-height: 50px;
}

.tres{
    background-color: rgb(254, 0, 0);
    min-height: 50px;
}
@media screen and (min-width:576px){ 

    
}

@media screen and (min-width:768px){ 

    
}

@media screen and (min-width:992px){ 

    
}

@media screen and (min-width:1200px){ 

    
}

@media screen and (min-width:1400px){ 

    
}